
html{
  height: 100%;
  background-color: rgb(19, 23, 53);
} 

.search h1{
  color: rgb(255, 253, 147);
}
.search{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.search input {
  padding: 10px;
  border-radius: 4px;
}

/* .search button {
  background-color: rgb(230, 128, 128);
  border-color: rgb(0, 0, 0);
  border-radius: 4px;
  margin-left: 20px;
  font-size: 18px;
  color: black;
}

.search button:disabled{
  background-color: rgb(187, 211, 211);
  border-color: rgb(244, 244, 244);
  border-radius: 4px;
  margin-left: 20px;
  font-size: 18px;
  color: black;
} */

/* .movieList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
} */

.movieList div{
  height: auto;
}

.noMovie{
  justify-content: center;
  width: 100%;
  font-size: 25px;
  display: flex;
}

.movieList > div > div > div > img{
  width: 100%;
  height: 400px;
}

.movieList > span{
  color: azure;
}

.movieList > div > p{
  color: rgb(255, 253, 147);
  font-size: 18px;
}

